/* Move body of page below navbar. */
/*
body {
  padding-top: 61px;  
}
*/

#login-buttons a, .accounts-dialog a {
  color: #fffc9c;
}
.appTitle h1{
  color: #fffc9c;
}
/*
.ui.positive.buttons .button,
.ui.positive.button {
  background-color:#fff200;
  color: #000000;
}


.ui.inverted.menu {
  background: #fff200;
}

.ui.inverted.menu .item{
  color: #484851;
}

.ui.inverted.menu .active.item{
  color: #000000!important;
  font-weight: bold!important;
}

.ui.inverted.menu .item.button{
  color: #000000!important;
  font-weight: bold!important;
}*/