/* Move body of page below navbar. */
/*
body {
  padding-top: 61px;  
}
*/

#login-buttons .login-link-text {
  color: rgba(255, 255, 255, 0.9);
}
/*
.ui.positive.buttons .button,
.ui.positive.button {
  background-color:#fff200;
  color: #000000;
}


.ui.inverted.menu {
  background: #fff200;
}

.ui.inverted.menu .item{
  color: #484851;
}

.ui.inverted.menu .active.item{
  color: #000000!important;
  font-weight: bold!important;
}

.ui.inverted.menu .item.button{
  color: #000000!important;
  font-weight: bold!important;
}*/